* {
    box-sizing: border-box;
}
#img1{
	margin-left: 100px;
	width: 500px;
	height: 100px;
}
#img2{
	margin-left: 250px;
	width: 1000px;
	height: 300px;
}
.menu ul {
  background: blue;
  list-style-type: none;
  text-align: center;
}
.menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
}
.menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.menu a:hover {
  background: #F1F1F1;
  color: blue;
}
.wrapper{
	width: 100%;
	margin:0 auto;
	margin-top: 50px;
}
.middle-item-box> ul li{
    list-style: none; /* bỏ dấu chấm mặc định của li */
}
footer {
	background-color: blue;
	min-height: 50px;
    clear: both;
}